*{
    margin: 0px;
    padding: 0px;
}
.icon{
    block-size: 25px;
    margin: 2px;
    /* border: 1px solid #fff; */
    padding: 0px;
    
    margin-top: 10px;
    margin-left: 15px;
}
header{
  width: 100%;
  height: 50px;
  background-color: rgb(73, 108, 206);
}
.m1{
    text-align: center;
    position: absolute;
    top: 12px;
    left: 12%;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}


ul.boxes{
    position: absolute;
    right: 70px;
    top: 16px;
    list-style-type: none;
    
 
    
    
}
li.inline{
    display: inline;
    color: darkgreen;
    border: 1px solid #fff;
    background-color: white;
    padding: 5px;
    font-size: 12px;
}
.img1{
    margin-left: 60px;
    margin-top: 11px;

}
.navb{
    position: absolute;
    right: 70px;
    top: 72px;
    list-style-type: none;
    
}
.navL{
    display: inline;
    border: 1px solid black;
    padding: 12px;


}
.img2{
    width: 100%;
}
.bar{
    position: relative;
    top: 15px;
    background-color:  rgb(73, 108, 206);
    width: 80%;
    height: 30px;
    margin: auto;

}
.p1{
    color: rgb(255, 255, 255);
    padding: 5px auto;
    letter-spacing: 2px;
    position: relative;
    top: 5px;
    left: 40px;
    font-family: sans-serif;
    font-size: 14px;
}
.heading1{
    position: relative;
    top: 70px;
    text-align: center;
    font-size: 45px;
    color: rgb(73, 108, 206) ;
    
    
}
.intro{
    font-size: 40px;
    list-style: none;
   
}
center{
    display: flex;
    position: relative;
    top: 60px;
    left: 38%;
    color: rgb(73, 108, 206);
    font-size: larger;
    font-family:'Times New Roman', Times, serif;

}
.duction{
    color: green;
}
.slogo{
    block-size: 50px;
    position: relative;
    top: 100px;
    left: 47%;

}
.sbar{
    width: 65px;
    background-color: green;
    height: 2px;
    margin: auto;
    position: relative;
    top: 100px;
    left: 50px;

}
.sbar2{
    width: 65px;
    background-color: green;
    height: 2px;
    position: absolute;
    top: 848px;
    left: 522px;
}
p{
    line-height: 30px;
    margin: 0px 150px  0px 150px;
    color: rgb(68, 68, 68);
    font-family: sans-serif;
    
}
.bluebar{
    background-color: blue;
    width: 100%;
    height: 350px;
}
.bb{
    color: white;
    list-style-type: none;   
    display: flex;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    position: relative;
    top: 50px;
}
.box6{
    border: 1px solid black;
    width: 350px;
    height:200px;
    box-shadow: 2px 3px 20px;
    display:inline-block;
    
   margin: 10px;
   text-align: center;
   padding: 10px;
   font-size: 25px;
   position: relative;
   top: 30px;
   left: 20px;
   
    
    
}
.box6 img{
    position: relative;
    top: 110px;
}
.mission{
    margin-left: 20px;
    color:rgb(73, 108, 206) ;
}
.line{
    background-color: green;
    width: 50px;
    height: 3px;
    margin-left: 20px;
    margin-top: 3px;
}
.box4{
    width: 290px;
    height: 70px;
    background-color: honeydew;
    border: 1px solid rgb(70, 68, 68);
    margin-left: 20px;
}
.box4{
    margin-top: 20px;
    padding: 10px;
    font-size: 23px;
    
}
.box4 img{
    position: relative;
    top: 12px;
}
.main2{
    display: flex;
}
.mainU {
    position: relative;
    left: 750px;
    bottom: 325px;
    width: 35%;
   
    font-size: 35px;
    color:rgb(73, 108, 206);
    /* border: 1px solid brown; */
    line-height: 35px;
   
}
.paragraphm{
    font-size: 20px;
    text-align: left;
    text-indent: 30px;
    
}
.submenu{
    display: ;
}
.navL{
    background-color: transparent;
    color:black;
    border: none;
    border-radius: 20px;
}
.navL:hover{
    background-color: rgb(73, 108, 206);
    color: white;
}

}
.pics
{ 
    display: flex;
    margin-top: 139px;
    
    justify-content: space-around;
    
}
.pic{
    justify-content: space-around;
    background-size: cover;
}
.foot{
    background-color: rgb(59, 58, 58);
    width: 100%;
    height: 300px;

}
.footdata{
    color: rgb(212, 207, 207);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    position: relative;
    top: 70px;
    left: 50px;
    list-style-type: none;
   
   

}
.f{
    margin-top: 5px;
}
.footer{
    width: 100%;
    height: 20px;
    background-color:rgb(73, 108, 206) ;
}
.active:active{
    background-color: rgb(73, 108, 206);

}
.end{
    height: 40px;
    width: 100%;
    background-color: rgb(73, 108, 206);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 0px 5px 5px;
    
}
.connect{
    margin-right: 100px;
display: none
}
.top
{
    
    left: 01150px;
    top: 90%;
    position: fixed;
}

.endicon{
    position: relative;
    text-align: center;
}
